body { 
	padding-top: 80px; 

	height: 100%;
}

a {
	cursor: pointer ;
}

.navbar-profile-pic {

	height: 24px;
	width: 24px;

	float:left;
	margin-bottom: 10px ;
}

.group-member {

	height: 40px;
	line-height: 40px ;
}

.group-member img {
	height: 30px;
	width: 30px;
	margin-right: 5px ;
}

.group-member .remove {

	height: 40px;
	line-height: 40px ;

	float:right;
	display: block ;
}

.list-group-item-compact {
	padding: 0px ;

	padding-left: 10px;
}


.btn-link.btn-danger {
	color: #a94442;
}

.input-badge {
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	width: 70px;

	white-space: nowrap;
	text-align: center;

	border: 1px solid #ccc;
	border-radius: 10px;

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

	
}

.label-right {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left:0px;
  padding-left:5px;
}

.label-left {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right:1px;
  padding-right:5px;
}

.has-detail .detail {
	display: none;
}

.has-detail:hover .detail {
	display: block;
}

.nowrap {
	white-space:nowrap;
}

.link list-inline.pull-right {
	margin-right: -10px;
}

.link p.pull-right a:last-child{
	padding-right:0px;
}


.sidebar {

	position: absolute ;
	z-index: -100;

	left: 0px ;
	top: 0px ;

	width: 25%; 
	min-height: 100% ;

	background-color: #f5f5f5;
	border-right: 1px solid #ccc;
}

.indent {
            padding-left: 20px ;
        }

.spaced {

	margin-top: 20px ;
}        

.clickable {
	cursor: pointer;
}

.full-width {
	width: 100% ;
}

.popover {
	min-width: 400px ;
}
