<div class='container'>
	

    <div class='row'>
    	<div class='col-sm-12'>
			<h3>{{thread.title}}</h3>

			<p class='text-muted'>
				created {{thread.createdAt | fromNow }} by 
				<span ng-show='thread.creatorScreenName'>{{thread.creatorScreenName}}</span>
				<span ng-hide='thread.creatorScreenName'>Anonymous User</span>
			</p>

			<div ng-repeat='post in posts'>

			 	<hr/>

			 	<p ng-bind-html="post.content | markdown">
			 	</p>

			 	<p class='text-muted text-right'>
					posted {{post.createdAt | fromNow }} by 
					<span ng-show='post.creatorScreenName'>{{post.creatorScreenName}}</span>
					<span ng-hide='post.creatorScreenName'>Anonymous User</span>
				</p>
			</div>


			<hr/>

			<div class='panel panel-default'>

				<div class="panel-heading">
				    <h3 class="panel-title">New Post</h3>
				</div>

				<div class='panel-body'>

					<div ng-hide='preview'>
						<div class="form-group" >
							<textarea class="form-control" rows="4" placeholder='Your Post' ng-model='newPostContent'></textarea>
						</div>

						<p class='text-right'>
							
							<a class='btn btn-default' ng-disable='isBlank(newPostContent)' ng-click='preview = true'>Preview</a>
						</p>
					</div>

					<div ng-show='preview'>

						<p ng-bind-html="newPostContent | markdown">
					 	</p>

					 	<hr/>

					 	<p class='text-right'>
							<a class='btn btn-default' ng-click='preview = false'>Cancel</a>
							<a class='btn btn-default' ng-click='savePost()'>Save Post</a>
						</p>

					</div>
				</div>
			</div>


		</div>


		
	</div>
</div>

