<!DOCTYPE html>

<html lang="en" ng-app="app">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Simple Forum</title>

  
  <!--angularjs -->
  <script type="text/javascript"  src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript"  src="bower_components/angular-route/angular-route.min.js"></script>
  <script type="text/javascript"  src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>

  <script type="text/javascript"  src="bower_components/restangular/dist/restangular.min.js"></script>
  <script type="text/javascript"  src="bower_components/angular-bootstrap-jbruni/ui-bootstrap.min.js"></script>
  <script type="text/javascript"  src="bower_components/angular-bootstrap-jbruni/ui-bootstrap-tpls.min.js"></script>

  <!--bootstrap -->
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <!--misc -->
  <script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
  <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="bower_components/showdown/compressed/showdown.js"></script>

  <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">

  <!--my app -->
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/util.js"></script>
  <link rel="stylesheet" href="css/style.css">

  <!--my controllers -->
  <script type="text/javascript" src="js/controllers/main.js"></script>
  <script type="text/javascript" src="js/controllers/threads.js"></script>
  <script type="text/javascript" src="js/controllers/thread.js"></script>
  <script type="text/javascript" src="js/controllers/newThread.js"></script>
  <script type="text/javascript" src="js/controllers/api.js"></script>

  

</head>

<body>

  <nav ng-controller="MainCtrl" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class='container'>
      <div class="navbar-header">
        <a ng-href='#/' class='navbar-brand'><i class="fa fa-quote-right"></i> Simple Forum</a>
      </div>


      <ul class="nav navbar-nav navbar-right" >

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-question-circle"></i>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/#/api">API Documentation</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            &nbsp;
            <span ng-show="me.screenName">{{me.screenName}}</span>
            <span ng-hide="me.screenName">Anonymous User</span>

            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">

            <li ng-hide='me'><a ng-click='editAccount()'>Create Account</a></li>
            <li ng-show='me'><a ng-click='editAccount()'>Edit Account</a></li>
            <li ng-show='me'><a ng-click='showApiKey()'>Show API Key</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>




  <div ng-view></div>


  <script type="text/ng-template" id="modalApiKey.html">
    <div class='modal-header'>
      <button type="button" class="close" ng-click='$dismiss()'><span aria-hidden="true">&times;</span></button>
      <strong>Your API Key</strong>
    </div>
    <div class="modal-body">
      <pre>{{me.apiKey}}</pre>
    </div>
  </script>

  <script type="text/ng-template" id="modalEditAccount.html">
    <div class='modal-header'>
      <button type="button" class="close" ng-click='$dismiss()'><span aria-hidden="true">&times;</span></button>
      <strong>Your account</strong>
    </div>

    <div class='alert alert-danger' ng-show='d.error'>
      {{d.error.data.message}}
    </div>


    <div class="modal-body">
      <div class="form-group" >
        <label class="col-sm-3 control-label">Screen Name</label>

        <div class='col-sm-9'>
          <input type="text" class="form-control" placeholder="screen name" ng-model="d.me.screenName">
        </div>
      </div>

      <hr/>
    </div>

    <div class="modal-footer">

      <p class='text-right'>
        <a class='btn btn-default' ng-click='d.save()'>Save</a>
        <a class='btn btn-default' ng-click='$dismiss()'>Cancel</a>
      </p>
    </div>
  </script>


</body>

</html>	