<div class='container'>
	<div class='row'>

		<div class='col-sm-12'>

			<div ng-hide='preview'>
				<div class="form-group">
					<input type='text' class='form-control input-lg' ng-model='threadTitle' placeholder='Thread Title'></input>
				</div>

				<div class="form-group">
					<textarea class="form-control" rows="4" placeholder='Post Content' ng-model='postContent'></textarea>
				</div>
			</div>

			<div ng-show='preview'>
				<h2>{{threadTitle}}</h2>

				<div ng-bind-html="postContent | markdown"></div>

				<hr/>
			</div>

			<p class='pull-right'>
				<a class='btn btn-default' ng-hide='preview' ng-click='preview = true'> Preview</a>
				<a class='btn btn-default' ng-show='preview' ng-click='preview = false'> Edit</a>
				<a class='btn btn-default' ng-click='save()'> Save</a>
			</p>
		</div>



    </div>

</div>    