<div class='container'>

	<div class='row' ng-show='unauthorized'>

		<div class='col-sm-12'>
			<div class='alert alert-info'>
				You don't currently have an account, but you are free to view and post anonomously.
			</div>
		</div>
	</div>

	<div class='row'>

				
		<div class='col-sm-12'>
					
			<div class='list-group'>

				<a class='list-group-item' ng-repeat="thread in threads" ng-href='#/threads/{{thread.id}}'>
					<span class='pull-right'> 
						{{thread.postCount}} posts
						&nbsp;
						{{thread.viewCount}} views
					</span>

					<span>{{thread.title}}</span>
				</a>
			</div>

			<p class='text-right'>
				<a class='btn btn-default' href='/#/newThread'><i class="fa fa-plus-circle"></i> New Thread</a>
			</p>
		</div>
	</div>

</div>

